/* Resetting margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Main content styling */
.main {
    background: rgb(255, 255, 255);
    background-blend-mode: darken;
    background-size: cover;
    min-height: 100vh;
    overflow: auto;
    position: relative;
    z-index: 1;
}

/* Footer styling */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    background-color: white;
    border-top: 1px solid #e1e1e1;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    box-sizing: border-box; /* Ensures padding does not add extra width */
}

/* Text in the footer styling */
.text-footer {
    text-align: center;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #7c7c7c;
    font-size: 14px;
}

/* Image in the main content styling */
.main .pic img {
    width: 100%;
    height: 650px;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 1;
}

/* Styling of a layer on top of the image */
.main .topLayer {
    width: 100%;
    height: 650px;
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 2;
}

/* Button inside the main content styling */
.main .btn {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 260px;
    margin-top: -150px;
    right: 50%;
    margin-right: -250px;
    text-align: center;
    z-index: 3;
    border: 0;
}

/* Paragraph text inside the button styling */
.main .btn p {
    padding-top: 100px;
    color: #fff;
    font-size: 40px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

/* Button inside the button container styling */
.main .btn button {
    margin-top: 50px;
    width: 200px;
    height: 60px;
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    background-color: #F5704F;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    border: 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

/* Hover effect for the button */
.main .btn button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Content below the image styling */
.content {
    position: absolute;
    top: 650px;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

/* Introduction text styling */
.text-intro {
    font-size: 22px;
    padding-top: 50px;
    clear: both;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    font-style: italic;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Arial', sans-serif;
}


