/* Styling for the main navigation bar */
.navbar {
    display: flex;                   /* Display the items in a row */
    align-items: center;             /* Center items vertically */
    justify-content: center;         /* Center items horizontally */
    position: relative;
    top: 1px;                       /* Slight offset from the top */
    cursor: pointer;                /* Change cursor to pointer on hover */
    z-index: 3;                     /* Stack order */
    height: 60px;                   /* Height of the navbar */
}

/* Styling for the list of navigation items */
.nav-list {
    width: 70%;                     /* Take up 70% of parent width */
    display: flex;
    position: relative;
    align-items: center;
}

/* Styling for the logo section */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Styling for the text inside the logo section */
.logo-text {
    color: black;
    font-size: 20px;                /* Font size */
    font-weight: 900;               /* Boldness of the font */
}

/* Styling for the logo image */
.logo img {
    width: 50px;
    border-radius: 50px;            /* Make the image circular */
}

/* General button style */
.dropbtn, .APBButton, .icon-button {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;                   /* Remove the default border */
    cursor: pointer;                /* Indicate that it's clickable */
}

/* Container for dropdown items */
.dropdown {
    position: relative;
    display: inline-block;          /* Display inline but allow block styling */
    z-index: 4;                     /* Stack order */
}

/* Hidden dropdown content styling */
.dropdown-content {
    display: none;                  /* Hide by default */
    position: absolute;             /* Position relative to nearest positioned ancestor */
    background-color: #f9f9f9;     /* Background color */
    min-width: 160px;               /* Minimum width */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Shadow effect */
    z-index: 6;
}

/* Styling for links within dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;          /* Remove underlines from links */
    display: block;
    z-index: 5;
}

/* Hover effect for dropdown links */
.dropdown-content a:hover {
    background-color: #f1f1f1;
    z-index: 5;
}

/* Show dropdown when hovering over container */
.dropdown:hover .dropdown-content {
    display: block;
    z-index: 5;
}

/* Style changes for button when hovering over dropdown */
.dropdown:hover .dropbtn {
    background-color: darkgrey;
    z-index: 5;
}

/* Styling for each list item in nav list */
.nav-list li {
    list-style: none;               /* Remove bullet points */
    padding: 26px 30px;
}

/* Styling for anchor tags within nav list items */
.nav-list li a {
    font-weight: bold;
    text-decoration: none;          /* Remove underlines */
    color: #000;
}

/* Hover effect for anchor tags within nav list items */
.nav-list li a:hover {
    color: grey;
}

/* Styling for images within the right navigation section */
.rightNav img {
    width: 30px;
    height: 30px;
    margin: 0 20px;                 /* Spacing between images */
}



/* Styling for the button that will hold the icon and hover effect */
.icon-button {
    background-color: transparent;
    border: none;  /* Remove the default border that buttons usually have */
    cursor: pointer;  /* Change the cursor to a hand when hovering over the button, indicating it's clickable */
    font-size: 16px;
    position: relative;
}

/* Styling to remove the browser's default focus outline, which can sometimes look out of place */
.icon-button:focus {
    outline: none;  /* Disable the default browser outline that appears when an element is focused (e.g., clicked) */
}

/* Styling for the anchor link (<a>) inside our button */
.icon-button a {
    text-decoration: none;
    color: inherit;
    display: block;  /* Allow the link to occupy the full space of its parent, making the entire button clickable */
}

/* Styling for the underline effect that appears on hover */
.icon-button .underline {
    display: none;  /* Initially, we hide the underline */
    width: 60px;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);  /* Center the underline by moving it back 50% of its width */
}

/* Styling that's applied when hovering over the .icon-button */
.icon-button:hover .underline {
    display: block;
}
